---
name: Hassfest

on:
  pull_request:
    branches-ignore:
      - release-please--branches--main
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: home-assistant/actions/hassfest@master
